<h3>Estadísticas</h3><br>
<h4>Total preguntas= <%= statistics.totPreg.toString() %></h4>
<h4>Total comentarios= <%= statistics.totComen.toString() %></h4>
<h4>Media de comentarios por pregunta= <%= statistics.mediaComen.toString() %></h4>
<h4>Total preguntas sin comentarios= <%= statistics.totPregSinComen.toString() %></h4>
<h4>Total preguntas con comentarios= <%= statistics.totPregConComen.toString() %></h4>
